.locations {
  width: 70%;
  margin: 0 auto 25px auto;
  list-style: none;
  background: #eff9ff;
  border-radius: 4px;
  color: #5091ba;
  .location {
    border-bottom: 1px solid #fff;
    padding: 10px;
  }
}
